<h1>Couriers List</h1>
<div>
<table align="center">
  <tr>
    <th width='40%'>Name </th>
    <th width='40%'>Email </th>
    <th width='20%'> </th>
  </tr>
 <% @сouriers.each do |сourier| %>
  <tr>
    <td style="text-align:center"><%= сourier.name %></td>
    <td style="text-align:center"><%= сourier.email %></td><td>
    <td style="text-align:center"><%= link_to('Edit', edit_courier_path(сourier)) %></td>
  </tr>
  <% end %>
 </table>
 </div>

<br>
 <%=link_to 'New Courier', new_courier_path %>
